<ion-header>
  <ion-toolbar>
    <ion-title>excercise</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<br><br><br>
<ion-card>
  <ion-card-title>
     The 4-7-8 method.
  </ion-card-title>
  <io-card-subtitle>
    Inhale for 4 seconds <br>
    Hold for 7 seconds <br>
    Slowly exhale for 8 seconds
  </io-card-subtitle>
  <ion-card-content>
    <ion-img src="../assets/images/breathing.gif"></ion-img>
  </ion-card-content>
</ion-card>







  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" (click)= "home" routerLink="/home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="excercise" (click)= "excercise" routerLink="/excercise">
        <ion-icon name="barbell"></ion-icon>
        <ion-label>Exercise</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="media" (click)= "media" routerLink="/media">
        <ion-icon name="play-circle"></ion-icon>
        <ion-label>Media</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="profile" (click)= "profile" routerLink="/profile">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
