ion-content{
--background: linear-gradient(90deg, 
rgba(177,58,137,100%)0%, 
rgba(94,44,139,100%)100%) 
  
}

ion-card{
    --ion-background-color: #c95c95 ;
  }
  ion-list{
    --ion-background-color: #ffffff ;
  }
  io-card-subtitle{
      align-items: center;
  }
